@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles */
.primary-color {
    color: #4E47FF;
}

.content-layout{
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-image: url('/Assets/Hero-bg.png');
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 150px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    font-size: 34px;
    font-weight: bold;
}

.primary-btn {
    background-color: #4E47FF;
    color: white;
    padding: 12px 32px;
    border-radius: 10px;
    cursor: pointer;
}

.banner-container {
    text-align: center;
}

.banner-title {
    font-size: 65px;
    color: #252432;
    margin-top: 200px;
}

main{
    background-color: #F5F8FF;
}

.action-container{
    display: flex;
    justify-content: space-between;
    padding: 115px 0px;
}

.action-content{
    width: 100%;
}

.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-description{
    color: #2524329c;
}

.action-img{
    width: 400px;
    border-radius: 48px;
    
}

.productive-user-container{
    background-color: #E5E7FF;
    padding: 50px 80px;
    border-radius: 24px;
}

.productive-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}

.productive-count{
    display: flex;
    justify-content: space-evenly;
}

.productive-count-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    line-height: 0%;
}

.productive-count-status{
    color: #00000063;
}