@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style */
.primary-color {
    color: #4E47FF;
}

header {
    background-image: url('/Assets/Hero-bg.png');
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 150px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    font-size: 34px;
    font-weight: bold;
}

.primary-btn {
    background-color: #4E47FF;
    color: white;
    padding: 12px 32px;
    border-radius: 10px;
    cursor: pointer;
}

.banner-container {
    text-align: center;
}

.banner-title {
    font-size: 65px;
    color: #252432;
    margin-top: 200px;
}