@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style */
.primary-color{
    color: #4E47FF;
}

header{
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    font-size: 34px;
    font-weight: bold;
}

.signUp-btn{
    background-color: #4E47FF;
    color: white;
    padding: 12px 32px;
    border-radius: 10px;
}